<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jt.sys.dao.SysUserDao">
	<sql id="whereSqlId">
		<where>
			<if test="username!=null and username!=''">
				username like concat("%",#{username},"%")
			</if>
		</where>
	</sql>
	<select id="findUserObject" resultType="sysUser">
		select id,username,email,mobile,valid from sys_users
		<include refid="whereSqlId"></include>
		order by createdTime desc
		limit #{startIndex},#{pageSize}
	</select>
	<select id="getRowCount" resultType="int">
		select count(*) from sys_users
		<include refid="whereSqlId"></include>
	</select>
	<select id="findUserById" resultType="sysUser">
		select id,username,email,mobile,valid from sys_users where id=#{id}
	</select>
	<insert id="saveObject" parameterType="sysUser">
		insert into sys_users(id,username,email,mobile,valid) values(null,#{username},#{email},#{mobile},#{valid})
	</insert>
	<update id="updateObject" parameterType="sysUser">
		update sys_users set username=#{username},email=#{email},mobile=#{mobile},valid=#{valid} where id=#{id};
	</update>
	 <delete id="deleteObject" parameterType="integer">
	 	delete from sys_users where id=#{id}
	 </delete>
</mapper>